<!DOCTYPE html>
<html>
<head>
  <title>Kent Lotto</title>
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
  <link href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css' rel='stylesheet' type='text/css'>
</head>
<body class="container" >
  <div id="app">

  <div class="jumbotron">
      <h1 class="display-4">Kent Lotto</h1>
      <p class="lead">Owner: {{owner}}</p>
      <p class="lead">Contract Number: {{contractNo}}</p>
      <p class="lead">Winning Number: {{winningNumber}}</p>
    </div>

  <div class="table-responsive">
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>Player Address</th>
          <th>Number of Bets</th>
        </tr>
      </thead>
      <tbody>
          <tr v-for="p in players">
            <td>{{ p.player }}</td>
            <td>{{p.betCount }}</td>
          </tr>
      </tbody>
    </table>
  </div>

  <label for="pickedNumber">Account(1-9): </label>
  <input type="text" v-model="clientAccountIndex"/>
  <label for="pickedNumber">Pick Number: </label>
  <input type="text" v-model="pickedNumber"/>
  <a href="#" @click="pickNumber()" class="btn btn-primary">Submit</a>
</div>
</body>
<script src="https://cdn.rawgit.com/ethereum/web3.js/develop/dist/web3.js"></script>
<script src="https://code.jquery.com/jquery-3.1.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue"></script>

<script src="./index.js"></script>
</html>